.send-msg-btn {
    display: flex;

    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
    padding: 0;

    &:hover {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.9;
    }
}